<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
body
{
background-color:#b0c4de;
}
h1 {text-align:center;}
p {text-align:justify;}
</style>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
	<p><%= value %></p>
<% end %>

<%= yield %>

</body>
</html>
